<% include ../partials/header %>
<div class="container">
  <h1 class="text-center m-4">Add New Comment to <%= campground.name %></h1>
  <div class="row">
    <!--
				Action: uses path to campgrounds route
				Method: uses POST to send data from form to campgrounds post route (not get route)
			 -->
    <div class="w-50 mr-auto ml-auto">
      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="comment[text]"
            placeholder="text"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="comment[author]"
            placeholder="author"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary">Submit!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="w-50 mr-auto ml-auto mb-4">
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<% include ../partials/footer %>
