<% include ../partials/header %>

<div class="container mt-4">
  <!-- adds spacing around this entire section -->
  <header class="jumbotron">
    <!-- adds gray background -->
    <div class="container">
      <!-- adds spacing inside jumbotron -->
      <h1>Campers Of The World</h1>
      <p>
        Check out the some of the cool campgrounds you can find out there, or
        feel free to add one you think rocks!
      </p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-lg"
          >Add New Campground</a
        >
      </p>
    </div>
  </header>

  <div class="d-flex flex-wrap">
    <div class="col-md-12"><h3>My Favourite Campgrounds</h3></div>
    <% campgrounds.forEach((campground) => { %>
    <div class="col-xlg-2 col-lg-3 col-md-6">
      <figure class="figure text-center">
        <img
          src="<%= campground.image %>"
          alt="image"
          class="figure-img rounded"
          width="220"
          height="250"
        />
        <figcaption class="figure-caption">
          <h4><%= campground.name %></h4>
        </figcaption>
        <p>
          <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary"
            >More Info</a
          >
        </p>
      </figure>
    </div>
    <% }) %>
  </div>
  <a href="/">Go To Home Page</a>
</div>

<% include ../partials/footer %>
